body {
    margin : 0;
}

.navbar {
height: 100px;
background-color: #333;
color: whitesmoke;
margin-bottom: 15px;
text-align: center;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.main-content{
    font-family: 'Comic Sans MS','Times New Roman';
    font-size: 20px;
    margin-left: 17em;
    padding: 0 1em;
}

.footer{
    font-family: 'Comic Sans MS','Times New Roman';
    font-size: 10px;

}